body {
   background-color: black;
   color: white;
}

a,
a:visited,
a:active {
   text-decoration: none;
   color: inherit;
   transition: 0.2s;
}

a:hover {
   transition: 0.2s;
   text-decoration: underline;
   color: rgb(156, 156, 156);
}

h1 {
   font-family: Georgia;
}

li {
   font-family: Helvetica;
}

.spotlight {
   border: dotted 3px yellow;
   width: 300px;
   padding: 10px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   justify-self: center;
}

.spotlight img {
   width: 160px;
   height: auto;
   border: 1px solid red;
   padding: 5px;
   transition: 0.3s;
}

.spotlight img:hover {
   transition: 0.3s;
   box-shadow: 0 0 30px rgb(243, 192, 255);
}